body {
  background-color: #222222;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  text-align: center;
  font-family: 'Jost';
}

.counter-container {
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(100vh / 4.5);
  box-shadow:
    0 0 4px #1E1E1E,
    0 0 8px rgba(30, 30, 30, 0.7),
    0 0 12px rgba(30, 30, 30, 0.5),
    0 0 16px rgba(30, 30, 30, 0.3);
}

h1 {
  display: inline-block;
  position: relative;
  margin: 0 0 40px;
  color: #ebebeb;
  text-shadow: 0 0 1px #ebebeb, 0 0 3px rgba(235, 235, 235, 0.6),
    0 0 4px rgba(235, 235, 235, 0.4), 0 0 5px rgba(235, 235, 235, 0.3);
  transition: text-shadow 0.3s ease-in-out;
}

h1.animate-up {
  color: #ebebeb;
  text-shadow: 0 0 2px #A8D88C,
    0 0 5px rgba(168, 216, 140, 0.6),
    0 0 7px rgba(168, 216, 140, 0.4),
    0 0 10px rgba(168, 216, 140, 0.3);
}

h1.animate-down {
  color: #ebebeb;
  text-shadow: 0 0 2px #FF6B6B,
    0 0 5px rgba(255, 107, 107, 0.6),
    0 0 7px rgba(255, 107, 107, 0.4),
    0 0 10px rgba(255, 107, 107, 0.3);
}

.counter-btns-container {
  display: flex;
  gap: 20px;
}

button {
  width: 100px;
  background-color: #ebebeb;
  color: #1F1F1F;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-family: 'Jost';
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 1px #ebebeb, 0 0 3px rgba(235, 235, 235, 0.6),
    0 0 4px rgba(235, 235, 235, 0.4), 0 0 5px rgba(235, 235, 235, 0.3);
}